name: Release

on:
    workflow_run:
        workflows:
            - CI
        types:
            - completed
        branches:
            - main
            - next

jobs:
    release:
        runs-on: ubuntu-latest
        container: node:24
        permissions:
            id-token: write # Required for OIDC
            contents: write
            issues: write
            pull-requests: write
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        steps:
            - uses: actions/checkout@v6
            - run: git config --global --add safe.directory "*"

            - run: npm ci
            - run: npm audit signatures

            - name: Release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: npm run semantic-release
